---
import Chip from '@/components/Chip.astro';
import zeroTierShowcase from './ZeroTierCarouselBackground.webp';
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
import InnerSlide from '@/components/carousel-slides/InnerSlide.astro';

const chipClasses =
  'text-[1.37cqw] tracking-[0.031cqw] leading-[117.5%] border-[0.3cqw] md:border-[0.2cqw]';
---

<style>
  .bg-gradient-1 {
    background: radial-gradient(
      circle,
      rgba(76, 72, 216, 0.6) 20%,
      rgba(255, 255, 255, 0) 80%
    );
  }
  .bg-gradient-2 {
    background: radial-gradient(
      circle,
      rgba(255, 179, 73, 0.75) 20%,
      rgba(255, 255, 255, 0) 70%
    );
  }
  .bg-gradient-3 {
    background: radial-gradient(
      circle,
      rgba(53, 60, 66, 0.75) 5%,
      rgba(255, 255, 255, 0) 55%
    );
  }
</style>
<div class='bg-gradient-1 absolute -top-3/4 -left-3/4 h-[175%] w-[150%]'></div>
<div class='bg-gradient-2 absolute -right-3/4 bottom-[-125%] h-[225%] w-[150%]'>
</div>
<div
  class='bg-gradient-3 absolute bottom-[-150%] left-[-125%] h-[250%] w-[250%]'
>
</div>
<Image
  src={zeroTierShowcase}
  alt='Three screenshots of the ZeroTier Central SaaS application, showcasing various user input states.'
  class='absolute'
/>
<InnerSlide align='right' textClass='text-grey-950' roleClass='text-grey-700'>
  <Fragment slot='title'>ZeroTier</Fragment>
  <Fragment slot='chips'>
    <Chip
      color='text-blue-600 border-blue-600'
      density='compact'
      size='md'
      class={chipClasses}
    >
      TypeScript
    </Chip>
    <Chip
      color='text-purple-600 border-purple-600'
      density='compact'
      size='md'
      class={chipClasses}
    >
      Vue
    </Chip>
    <Chip
      color='text-sky-600 border-sky-600'
      density='compact'
      size='md'
      class={chipClasses}
    >
      Vuetify
    </Chip>
    <Chip
      color='text-orange-600 border-orange-600'
      density='compact'
      size='md'
      class={chipClasses}
    >
      Pinia
    </Chip>
  </Fragment>
  <Fragment slot='role'>Primary Frontend Architect</Fragment>
  <Fragment slot='description'>
    Full-featured SaaS platform with deeply integrated user feedback and
    relationship-based access control.
  </Fragment>
</InnerSlide>
