---
import Divider from '@/components/Divider.astro';
import Button from '@/components/Button.astro';
import MainLayout from '@/components/layout/MainLayout.astro';

const displayString = 'The quick brown fox jumps over the lazy dog';
---

<MainLayout>
  <div class="flex flex-row items-start gap-2 pt-4">
    <Button density="compact" variant="primary" size="lg">Primary</Button>
    <Button density="compact" variant="primary" size="md">Primary</Button>
    <Button density="compact" variant="primary" size="sm">Primary</Button>
    <Button density="compact" size="lg">Secondary</Button>
    <Button density="compact" size="md">Secondary</Button>
    <Button density="compact" size="sm">Secondary</Button>
    <Button density="compact" variant="text" size="lg">Text</Button>
    <Button density="compact" variant="text" size="md">Text</Button>
    <Button density="compact" variant="text" size="sm">Text</Button>
  </div>
  <div class="flex flex-row items-start gap-2 pt-4">
    <Button variant="primary" size="lg">Primary</Button>
    <Button variant="primary" size="md">Primary</Button>
    <Button variant="primary" size="sm">Primary</Button>
    <Button size="lg">Secondary</Button>
    <Button size="md">Secondary</Button>
    <Button size="sm">Secondary</Button>
    <Button variant="text" size="lg">Text</Button>
    <Button variant="text" size="md">Text</Button>
    <Button variant="text" size="sm">Text</Button>
  </div>
  <div class="flex flex-row items-start gap-2 pt-4">
    <Button density="comfortable" variant="primary" size="lg">Primary</Button>
    <Button density="comfortable" variant="primary" size="md">Primary</Button>
    <Button density="comfortable" variant="primary" size="sm">Primary</Button>
    <Button density="comfortable" size="lg">Secondary</Button>
    <Button density="comfortable" size="md">Secondary</Button>
    <Button density="comfortable" size="sm">Secondary</Button>
    <Button density="comfortable" variant="text" size="lg">Text</Button>
    <Button density="comfortable" variant="text" size="md">Text</Button>
    <Button density="comfortable" variant="text" size="sm">Text</Button>
  </div>
  <Divider />
  <p class='text-xs'>text-xs {displayString}</p>
  <p class='text-sm'>text-sm {displayString}</p>
  <p class='text-md'>text-md {displayString}</p>
  <p class='text-base'>text-base {displayString}</p>
  <p class='text-lg'>text-lg {displayString}</p>
  <p class='text-xl'>text-xl {displayString}</p>
  <p class='text-2xl'>text-2xl {displayString}</p>
  <p class='text-3xl'>text-3xl {displayString}</p>
  <p class='text-4xl'>text-4xl {displayString}</p>
  <p class='text-5xl'>text-5xl {displayString}</p>
  <p class='text-6xl'>text-6xl {displayString}</p>
  <p class='text-7xl'>text-7xl {displayString}</p>
  <p class='text-8xl'>text-8xl {displayString}</p>
  <p class='text-9xl'>text-9xl {displayString}</p>
  <p class='text-10xl'>text-10xl {displayString}</p>
  <Divider />
  <h1>h1 - heading 1</h1>
  <h2>h2 - heading 2</h2>
  <h3>h3 - heading 3</h3>
  <h4>h4 - heading 4</h4>
  <h5>h5 - heading 5</h5>
  <h6>h6 - heading 6</h6>
  <p>p - {displayString}</p>
  <a href="/">a - link text</a>
  <Divider />

</MainLayout>
