---
import Divider from '@/components/Divider.astro';
import MainLayout from '@/components/MainLayout.astro';
import Card from '@/components/Card.astro';
import ButtonDesignSection from '@/components/sections/design/ButtonDesignSection.astro';
import ChipDesignSection from '@/components/sections/design/ChipDesignSection.astro';
import IconDesignSection from '@/components/sections/design/IconDesignSection.astro';

const displayString = 'The quick brown fox jumps over the lazy dog';
---

<MainLayout class='px-4 lg:px-0'>
  <h2 class='h2 mt-4'>Cards</h2>
  <div class='flex flex-row flex-wrap items-start gap-2 pt-4'>
    <Card
      title='Card Title'
      subtitle='Card Subtitle is longer'
      divider
      class='min-w-4xs flex-1'
    >
      <p>
        Test Project description lorum ipsum dolor atsdfe nwap;oinv; wienrinower
      </p>
    </Card>
    <Card
      title='Card Title'
      subtitle='Card Subtitle is longer'
      divider
      class='min-w-4xs flex-1'
    >
      <p>
        Test Project description lorum ipsum dolor atsdfe nwap;oinv; wienrinower
      </p>
    </Card>
    <Card
      title='Card Title'
      subtitle='Card Subtitle is longer'
      divider
      class='min-w-4xs flex-1'
    >
      <p>
        Test Project description lorum ipsum dolor atsdfe nwap;oinv; wienrinower
      </p>
    </Card>
  </div>
  <Divider />
  <IconDesignSection />
  <Divider />
  <ButtonDesignSection />
  <Divider />
  <ChipDesignSection />
  <Divider />
  <h2 class='h2 mb-4'>Font Class Sizing</h2>
  <p class='h1'>.h1 - heading 1</p>
  <p class='h2'>.h2 - heading 2</p>
  <p class='h3'>.h3 - heading 3</p>
  <p class='h4'>.h4 - heading 4</p>
  <p class='h5'>.h5 - heading 5</p>
  <p class='h6'>.h6 - heading 6</p>
  <p class='text'>.text - {displayString}</p>
  <a href='/' class='link'>.link - link text</a>
  <Divider />
  <h2 class='h2 mb-4'>Absolute Text Sizes</h2>
  <p class='text-xs'>text-xs {displayString}</p>
  <p class='text-sm'>text-sm {displayString}</p>
  <p class='text-md'>text-md {displayString}</p>
  <p class='text-base'>text-base {displayString}</p>
  <p class='text-lg'>text-lg {displayString}</p>
  <p class='text-xl'>text-xl {displayString}</p>
  <p class='text-2xl'>text-2xl {displayString}</p>
  <p class='text-3xl'>text-3xl {displayString}</p>
  <p class='text-4xl'>text-4xl {displayString}</p>
  <p class='text-5xl'>text-5xl {displayString}</p>
  <p class='text-6xl'>text-6xl {displayString}</p>
  <p class='text-7xl'>text-7xl {displayString}</p>
  <p class='text-8xl'>text-8xl {displayString}</p>
  <p class='text-9xl'>text-9xl {displayString}</p>
  <p class='text-10xl'>text-10xl {displayString}</p>
  <Divider />
</MainLayout>
