---
import Icon from './icon/Icon.astro';

export interface Props {
  index: number;
  slideCount: number;
  carouselId?: string;
  active?: boolean;
  class?: string;
  lightControls?: boolean;
  [k: string]: any;
}
/*
  dark colors:
  normal: grey-700
  hover: grey-900

  light colors:
  normal: grey-50
  hover: grey-100
*/
const {
  index,
  slideCount,
  carouselId = 'showcase',
  lightControls = false,
  active = index === 0,
  class: className,
  ...rest
} = Astro.props as Props;

const prevIndex = index > 0 ? index - 1 : slideCount - 1;
const nextIndex = index < slideCount - 1 ? index + 1 : 0;

// firefox has a bug where it doesn't update the variable colors while an element is opacity-0; use small non-zero opacity instead
---

<label
  for={`${carouselId}-radio-${index}`}
  class:list={[
    'z-20 mb-[1.17cqw] inline-block h-[3.9cqw] w-[3.9cqw] cursor-pointer rounded-full border-[0.6cqw] border-(--carousel-controls-normal) ring-(--carousel-controls-normal) transition-colors lg:mb-[1.95cqw] lg:h-[2.34cqw] lg:w-[2.34cqw] lg:border-[0.3cqw]',
    'hover:border-(--carousel-controls-hover) active:bg-(--carousel-controls-hover)',
    'has-checked:border-(--carousel-controls-hover) has-checked:bg-(--carousel-controls-hover) has-checked:ring-[0.2cqw] has-checked:ring-(--carousel-controls-hover)',
    'has-focus-visible:ring-[0.3cqw] has-focus-visible:ring-focus',
    // tailwind is very stupid
    '[&:has(input:checked)+slide]:opacity-100',
  ]}
>
  <input
    checked={active}
    type='radio'
    name={carouselId}
    id={`${carouselId}-radio-${index}`}
    class:list={['sr-only', { 'light-controls': lightControls }]}
  />
</label>
<slide
  class='absolute h-full w-full opacity-[0.01%] transition-opacity duration-500'
>
  <content class:list={['relative flex h-full w-full', className]} {...rest}>
    <slot />
  </content>
  <controls
    class='relative top-[calc(-50%-4.69cqw)] z-20 flex w-full justify-between px-[1.56cqw]'
  >
    <label
      class='h-[9.38cqw] w-[9.38cqw] cursor-pointer'
      for={`${carouselId}-radio-${prevIndex}`}
    >
      <Icon
        icon='CircleLeft'
        size='100%'
        class='text-(--carousel-controls-normal) transition-all hover:text-(--carousel-controls-hover)'
      />
      <span class='sr-only'>Previous Slide</span>
    </label>
    <label
      class='h-[9.38cqw] w-[9.38cqw] cursor-pointer'
      for={`${carouselId}-radio-${nextIndex}`}
    >
      <Icon
        icon='CircleRight'
        size='100%'
        class='text-(--carousel-controls-normal) transition-all hover:text-(--carousel-controls-hover)'
      />
      <span class='sr-only'>Next Slide</span>
    </label>
  </controls>
</slide>
